@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');
html, body {
  direction: rtl;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Almarai', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo{
  width: 60px;
}
.container{
  width:100%;
  max-width: 900px; 
  margin: 0 auto;
}

h1{
  font-size: 25px;
  font-weight: bold;
  text-align: right;

}
h2{
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}
h3{
  font-size: 15px;
  font-weight: bold;
  text-align: right;
}
p{
  font-size: 13px;
  /* color: white; */
  text-decoration: none;
  text-align: right;

}


.nav_btn {
  float: right; 
  display: none;  
}

.navs{
  display: flex;
}
.margin{
  margin: 0 10px;
  text-decoration: none;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main{
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  text-align: right;
  padding-top: 100px;
  color: white;
}
.hidden{
  display: block;
}
.advcon{
  margin: 300px 0 100px 0;
}
.adv{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  
/* flex-direction: row;
  flex-wrap: wrap; */
}
.adv2r{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  flex-direction: row-reverse;
  margin-top: 100px;
}

.adv2l{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  margin-top: 100px;
}

.advimg{
  width: 400px;
}
.adb2rm{
  margin-right: 50px;
}
.adb2lm{
  margin-left: 50px;
}
.iconimg{
  width: 35px;
}
.footertxt{
  padding-bottom: 10px;
  font-size: 12px;
  text-decoration: none;
  color: white;
}
.marouficon{
  width: 100px;
}
ol{
  text-align: right;
  font-size: 13px;
}
li{
  margin: 10px 0;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}

thead{
  color: white;
  text-align: center;
  background-image: linear-gradient(to  left, rgba(107,101,235,1), rgba(177,128,246,1));
  
}

th, td{
  padding: 10px;
}
td {
  border: 1px solid #E4E8EB;
  text-align: right;
}

label, input, textarea{
  font-family: -apple-system, BlinkMacSystemFont, 'Almarai', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
}
label, input, textarea{
  font-size: 13px;
  margin-bottom: 10px;

}
input, textarea{
  font-size: 10px;
  padding: 5px 10px;
}

input[type=button], input[type=submit], input[type=reset]{
  border: none;
  padding: 15px ;
  font-size: 12px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  background-image: linear-gradient(to  left, rgba(107,101,235,1), rgba(177,128,246,1));

}

@media only screen and (max-width: 600px) {
  .logo{
    width: 50px;
  }
  h1{
    font-size: 25px;
  }
  h2{
    font-size: 15px;
  }
  p{
    font-size: 13px;
  }
  .nav_btn{
    display: block;
  }
  .navs{
    display: none;
  }
  .hidden{
    display: none;
  }
  main{
    text-align: center;
  }
  .advcon{
    margin-top: 100px;
  }
  .adv{
    flex-direction: column;
    justify-content: flex-start;
  }
  .adv2l{
    text-align: center;
    flex-direction: column;
  }
  .adv2r{
    text-align: center;
    flex-direction: column;
  }
  .advimg{
    width: 200px;
  }
  .adb2lm, .adb2rm{
    margin: 0 20px;
  }
  .footertxt{
    font-size: 10px;
  }
  .iconimg{
    width: 25px;
  }
  .marouficon{
    width: 80px;
  }
}
